.navbar {
    height: 72px;
    box-shadow: inset 0px -1px 0px $light-grey;

    @media (min-width: $breakpoint-sm) {
        box-shadow: 0px 1px 0px rgba(123, 123, 135, 0.1);
    }

    &.navbar-light {
        background: white;
    }

    .navbar-nav {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 0 1rem;
    }

    @media (min-width: $breakpoint-lg) {
        .navbar-nav {
            width: 100%;
            align-items: center;
            padding: 0;
        }
    }

    .title {
        font-size: 1rem;
        font-weight: bold;
    }

    .text-right {
        margin-left: auto;
    }

    @media (min-width: $breakpoint-lg) {
        .text-right {
            margin-left: inherit;
            min-width: 200px;
        }
    }
}
