// Bootstrap overrides
h1,
.h1 {
    font-family: "RijksoverheidSansHeading", sans-serif;
    line-height: 2rem;
    font-size: $h1-font-size-mobile;
    @media (min-width: $breakpoint-md) {
        font-size: $h1-font-size;
    }
}

h2,
.h2 {
    font-family: "RijksoverheidSansHeading", sans-serif;
    line-height: 1.5rem;
    font-size: $h2-font-size-mobile;
    @media (min-width: $breakpoint-md) {
        font-size: $h2-font-size;
    }
}

h3,
.h3 {
    font-family: "RijksoverheidSansHeading", sans-serif;
    line-height: 1.5rem;
    font-size: $h3-font-size-mobile;
    @media (min-width: $breakpoint-md) {
        font-size: $h3-font-size;
    }
}

.card__subheader {
    margin-bottom: 0;
}
